.row
  .col-md-10.col-md-offset-1
    .panel.panel-primary
      .panel-heading
        %h3.panel-title Mes informations
      .panel-body
        = bootstrap_form_for(@user) do |f|
          .row
            .col-md-6.col-xs-12
              = f.text_field :lastname, {label: "Nom"}
            .col-md-6.col-xs-12
              = f.text_field :name, {label: "Prenom"}
            .col-md-6.col-xs-12
              = f.text_field :phone, {label: "Telephone portable"}
            .col-md-6.col-xs-12
              = f.text_field :email, {label: "Email"}
            .col-md-6.col-xs-12
              = f.date_field :birthday, {label: "Anniversaire"}
            .col-md-6.col-xs-12
              = f.text_field :address, {label: "Adresse"}
          = f.submit "Valider"