.row
  .col-md-10.col-md-offset-1
    .panel.panel-primary
      .panel-heading
        %h3.panel-title Liste des étudiants
      .panel-body
        %ul.nav.nav-tabs{:role => "tablist"}
          - @users.each do | promo, list |
            %li{:role => "presentation", :class => ("active" unless current_user.promo != promo)}
              %a{:href => "#promo-"+promo.to_s, "aria-controls" => "promo-"+promo.to_s, :role => "tab", "data-toggle"=>"tab"}
                = promo.to_s
        .tab-content
          - @users.each do | promo, list |
            .tab-pane{:role => "tabpanel", :id => "promo-"+promo.to_s, :class => ("active" unless current_user.promo != promo)}
              .table-responsive
                %table.table.table-striped
                  %thead
                    %tr
                      %th Nom
                      %th Prénom
                      %th Email
                      %th Télephone
                      %th Profil
                  %tbody
                    - list.sort_by{|user| [user.lastname.titleize || "zzzzzzzzzzzzzzzzzzzzzzzzzzzz", user.name.titleize]}.each do | user |
                      %tr
                        %td
                          - if user.lastname
                            = user.lastname.titleize
                        %td
                          - if user.name
                            = user.name.titleize
                        %td= user.email
                        %td= user.phone
                        %td
                          %a.btn.btn-sm.btn-default{:href => user_profile_path(user)}
                            Voir profil

