%nav.navbar.navbar-inverse.navbar-static-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#main-menu-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "ENSIIE Intranet", root_path, :class => "navbar-brand"
    .collapse.navbar-collapse#main-menu-collapse
      %ul.nav.navbar-nav
        %li
          = link_to "Calendrier", calendar_path
        %li
          = link_to "Ragots", "https://ragots.ares-ensiie.eu", :target => "_blank"
        %li
          = link_to "Archives",  base_files_path
        %li
          = link_to "Drinkiit", "https://drinkiit.ares-ensiie.eu", :target => "_blank"
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Services Ares
            %span.caret
          %ul.dropdown-menu
            %li
              = link_to "Gitlab", "https://git.ares-ensiie.eu", :target => "_blank"
            %li
              = link_to "Mailing lists", "https://sympa.ares-ensiie.eu/wws", :target => "_blank"
            %li
              = link_to "Irc", "https://wiki.ares-ensiie.eu/perso", :target => "_blank"
        %li
          = link_to "Docs", "https://wiki.ares-ensiie.eu", :target => "_blank"
        %li
          = link_to "Signaler un bug", "https://bugtracker.ares-ensiie.eu", :target => "_blank"

      %ul.nav.navbar-nav.navbar-right
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            = current_user.uid
            %span.caret
          %ul.dropdown-menu
            %li
              = link_to "Profil", soon_path
            %li
              = link_to "Changer mon mot de passe", edit_user_path(current_user)
            %li.divider{:role => "separator"}
            %li
              = link_to "Mes applications", oauth_applications_path
            %li
              = link_to "Applications autorisées", oauth_authorized_applications_path
            %li.divider{:role => "separator"}
            %li
              = link_to "Deconnexion", destroy_user_session_path, :method => :delete