%nav.navbar.navbar-inverse.navbar-static-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#main-menu-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "FACTIICE Intranet", root_path, :class => "navbar-brand"
    .collapse.navbar-collapse#main-menu-collapse
      %ul.nav.navbar-nav
        %li
          = link_to "Calendrier", calendar_path
        %li

        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Vie de l'école
            %span.caret
          %ul.dropdown-menu
            %li
              = link_to "Integration", "https://inte.ares-ensiie.eu", :target => "_blank"
            %li
              = link_to "Scoledge", "https://app.scoledge.com/", :target => "_blank"
            %li
              = link_to "Stages", "https://internships.ares-ensiie.eu/", :target => "_blank"
            %li
              = link_to "Ragots de Factiice", "https://ragots.ares-ensiie.eu", :target => "_blank"
            %li
              = link_to "Chat Factiice", "https://slack.ares-ensiie.eu", :target=>"_blank" 
            %li
              = link_to "Photos Factiice", "https://galeriie.ares-ensiie.eu", :target => "_blank"
            %li
              = link_to "Manger Factiice", "https://drinkiit.ares-ensiie.eu", :target => "_blank"
            %li
              = link_to "Blog Ares", "https://blog.ares-ensiie.eu", :target => "_blank"
            %li
              = link_to "Liste des membres Factiice", users_path
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Outils
            %span.caret
          %ul.dropdown-menu
            %li
              = link_to "Archives",  base_files_path
            %li
              = link_to "Sage", "https://sage.ares-ensiie.eu", :target => "_blank"
            %li
              = link_to "PhpPgAdmin", "https://phppgadmin.ares-ensiie.eu/phppgadmin", :target => "_blank"
            %li
              = link_to "Gitlab", "https://git.ares-ensiie.eu", :target => "_blank"
            %li
              = link_to "Mailing lists", "https://mailiie.ares-ensiie.eu/", :target => "_blank"
        %li
          = link_to "Documentation", "https://wiki.ares-ensiie.eu", :target => "_blank"
        %li
          = link_to "Signaler un bug", "https://bugtracker.ares-ensiie.eu", :target => "_blank"

      %ul.nav.navbar-nav.navbar-right
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            = current_user.uid
            %span.caret
          %ul.dropdown-menu
            %li
              = link_to "Profil", edit_user_path(current_user)
            %li
              = link_to "Changer mon mot de passe", user_password_path(current_user)
            %li.divider{:role => "separator"}
            %li
              = link_to "Mes applications", oauth_applications_path
            %li
              = link_to "Applications autorisées", oauth_authorized_applications_path
            %li.divider{:role => "separator"}
            %li
              = link_to "Quitter toute autre liste", destroy_user_session_path, :method => :delete
