%div{:class=>("col-sm-9" unless @users_today.empty? && @users_incoming.empty?)}
  .jumbotron
    %h2 Bienvenue sur l'intranet de FVCTIICE Strasbourg.

    %p
      Il est impossible de trouver un bug. Cependant si vous doutez de la suprématie de FVTIICE vous pouvez toujours tenter votre chance sur
      = link_to "le bugtracker.", "https://bugtracker.ares-ensiie.eu"

    %p
      Si vous aussi vous revez de votre futur dictateur suprême n'hésitez pas à contribuer à sa gloire en codant gratuitement
      = link_to "ici.", "https://git.ares-ensiie.eu/ares/Intranet"
      De plus si vous voulez être d'une quelconque utilitée dans l'école. N'hésitez pas à supplier votre Dictateur Suprème pour pouvoir intégrer FVTIICE.
    %h2 FVCTIICE NEWS
    %hr
    %div
      %h3 On a croisé les Guerriiers en répétition, on est pas égoïste alors on partage
      = image_tag("guayrier.jpg", :class=>"img-responsive")
    %hr
    %div
      %h3
        Barbariie a lancé sa campagne ! Rejoignez leur page facebook
        = link_to "ici.", "https://www.facebook.com/Barbariie-1735768299969915", :target=>"_blank"
      = image_tag("barbariie.jpg", :class=>"img-responsive")
- if ! @users_today.empty? || ! @users_incoming.empty?
  .col-sm-3
    .birthday
      %h3
        Anniversaires
        %i.fa.fa-birthday-cake.blue
      - if ! @users_today.empty?
        Aujourd'hui :
        %br
        - @users_today.each do | user |
          - if user.name != "" && user.lastname != "" && user.name != nil && user.lastname != nil
            = user.name.capitalize + ' ' + user.lastname.capitalize
          - else
            = user.uid
          = ' a ' + (Date.current.year - user.birthday.year).to_s + ' ans'
          %br

      - if ! @users_incoming.empty?
        A venir :
        %br
        - @users_incoming.each do | user |
          - if user.name != "" && user.lastname != "" && user.name != nil && user.lastname != nil
            = user.name.capitalize + ' ' + user.lastname.capitalize
          - else
            = user.uid
          = ' le ' + user.birthday.day.to_s + '/' + user.birthday.month.to_s
          %br