.login-container
  .row
    .col-md-6.col-xs-10.col-xs-offset-1.col-md-offset-3
      .panel.panel-primary
        .panel-heading
          %h3.panel-title Connexion
        .panel-body
          = bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            = f.text_field :email, {label: "Factiice Id", autofocus: true}
            = f.password_field :password, {label: "Mot de passe", autocomplete: "off"}

            .row
              - if devise_mapping.rememberable?
                .field.col-sm-6
                  = f.check_box :remember_me, label: "Se souvenir de moi"
              - if devise_mapping.recoverable?
                .field.text-right.col-sm-6{style: "margin-top:10px;"}
                  = link_to "J'ai oublié mon mot de passe", forgotten_password_path
            .actions
              = f.submit "Voter factiice"
